@tailwind base;
@tailwind components;
@tailwind utilities;

@import url('https://fonts.googleapis.com/css2?family=Barlow:wght@400;700&family=Fraunces:wght@900&display=swap');
/* 
font-family: 'Barlow', sans-serif;

font-family: 'Fraunces', serif; */

body {
  margin: 0;
  font-family: 'Barlow', sans-serif;
  background: #FEFCF7;
}

h1,
h2,
h3,
h4 {
  font-family: 'Fraunces', sans-serif;
}

.answerInput:checked + .answerDiv {
  background-color: #0E8784;
  color: #fff;
} 

.answerInput:checked + .answerDiv h3 {
  color: #fff;
}

/* #q1ans1:checked + .answerDiv,
#q1ans2:checked + .answerDiv,
#q1ans3:checked + .answerDiv,
#q2ans1:checked + .answerDiv,
#q2ans2:checked + .answerDiv,
#q2ans3:checked + .answerDiv {
  background-color: #0E8784;
  color: #fff;
}

#q1ans1:checked + .answerDiv h3,
#q1ans2:checked + .answerDiv h3,
#q1ans3:checked + .answerDiv h3,
#q2ans1:checked + .answerDiv h3,
#q2ans2:checked + .answerDiv h3,
#q2ans3:checked + .answerDiv h3,
#q3ans1:checked + .answerDiv h3,
#q3ans2:checked + .answerDiv h3,
#q3ans3:checked + .answerDiv h3 {
  color: #fff
} */
