@tailwind base;
@tailwind components;
@tailwind utilities;

@import url('https://fonts.googleapis.com/css2?family=Barlow:wght@400;700&family=Fraunces:wght@900&display=swap');
/* 
font-family: 'Barlow', sans-serif;

font-family: 'Fraunces', serif; */

body {
  margin: 0;
  font-family: 'Barlow', sans-serif;
}

h1,
h2,
h3,
h4 {
  font-family: 'Fraunces', sans-serif;
}
